.deatailed-btn {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  &::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("../../icons/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 13px;
  }
  &.back {
    flex-direction: row-reverse;
    &::after {
      margin-left: 0;
      margin-right: 13px;
      transform: rotate(180deg);
    }
  }
}

@media screen and (max-width: 750px) {
  .deatailed-btn {
    font-size: 16px;
    line-height: 140%;
    &::after {
      margin-left: 8px;
    }
    &.back::after {
      margin-left: 0;
      margin-right: 8;
      transform: rotate(180deg);
    }
  }
}
