@media screen and (min-width: 320px) {
    .strength {
        padding: 32px 16px 27px 16px;
        width: 100%;
        justify-content: center;
        box-sizing: border-box;
    }

    .strength__title {
        font-size: 28px;
        line-height: 120%;
        margin: 0 0 24px 0;
        width: 290px;
    }

    .strength__list-text {
        text-align: center;
    }

    .strength__nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }

    .strength__nav-item {
        width: 100%;
        height: 416px;
        grid-template-rows: 153px 40px 160px 64px;
        grid-template-columns: 290px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        border: none;
        border-bottom: 1px solid #2B2B2B;
        box-sizing: border-box;
    }

    .strength__nav-item:last-child {
        border: none;
    }

    .strength__nav-item-img-block {
        width: 290px;
    }

    .strength__nav-item-image {
        width: 290px;
    }

    .strength__nav-item-title {
        font-size: 28px;
        line-height: 120%;
    }

    .strength__nav-item-text {
        margin: 15px 0 0 0;
        font-size: 12px;
        line-height: 120%;
        width: 229px;
    }

    .strength__nav-item-button {
        margin-bottom: 10px;
        width: 134px;
        height: 36px;
    }

    .strength__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .strength__list-title {
        font-size: 28px;
        line-height: 120%;
        margin: 24px 0 0 0;
    }

    .strength__list-text {
        margin: 12px 0;
        font-size: 14px;
        line-height: 120%;
        width: 260px;
    }
    
    .strength__list-images {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 260px;
        height: 320px;
    }

    .strength__list-images-item {
        width: 120px;
        height: 120px;
        box-sizing: border-box;
    }

    .strength__list-images-item:first-child {
        margin: 0 0 20px 0;
    }

    .strength__list-images-item:nth-child(3n){
        margin: 0 0 20px 22px;
    }

    .strength__list-images-item:nth-child(4n) {
        margin: 0 0 0 22px;
    }
}
@media screen and (min-width: 360px) {
    .strength {
        padding: 40px 16px 27px 16px;
        align-items: center;
    }

    .strength__title {
        font-size: 32px;
        line-height: 120%;
        margin: 0 0 24px 0;
    }

    .strength__list-text {
        text-align: center;
    }

    .strength__nav {
        display: flex;
        flex-direction: column;
        width: 328px;
    }

    .strength__nav-item {
        width: 328px;
        height: 416px;
        grid-template-rows: 153px 40px 160px 64px;
        grid-template-columns: 328px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        border: none;
        border-bottom: 1px solid #2B2B2B;
    }

    .strength__nav-item:last-child {
        border: none;
    }

    .strength__nav-item-image {
        width: 300px;
    }

    .strength__nav-item-title {
        font-size: 32px;
        line-height: 120%;
    }

    .strength__nav-item-text {
        margin: 15px 0 0 0;
        font-size: 16px;
        line-height: 100%;
        width: 278px;

    }

    .strength__nav-item-button {
        margin-bottom: 10px;
        width: 146px;
        height: 38px;
    }

    .strength__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .strength__list-title {
        font-size: 32px;
        line-height: 120%;
        margin: 24px 0 0 0;
    }

    .strength__list-text {
        margin: 12px 0;
        font-size: 16px;
        line-height: 120%;
    }
    
    .strength__list-images {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 328px;
        height: 320px;
    }

    .strength__list-images-item {
        width: 143px;
        height: 143px;
    }

    .strength__list-images-item:first-child {
        margin: 0 0 24px 0;
    }

    .strength__list-images-item:nth-child(3n){
        margin: 0 0 24px 42px;
    }

    .strength__list-images-item:nth-child(4n) {
        margin: 0 0 0 42px;
    }
}

@media screen and (min-width: 768px) {
    .strength__title {
        font-weight: 500;
        font-size: 60px;
        line-height: 120%;
        padding: 0 0 50px 0;
    }
    
    .strength__nav {
        flex-direction: row;
        width: 100%;
    }

    .strength__nav-item {
        height: 599px;
        width: 533px;
        grid-template-rows: 272px 50px 200px 63px;
        grid-template-columns: 240px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        border: none;
    }

    .strength__nav-item-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 60px;
    }

    .strength__list {
        margin-top: 30px;
        justify-content: space-between
    }

    .strength__list-images {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        height: 150px;
        width: 100%;
        margin: 0;
    }

    .strength__list-images-item {
        margin: 0;
    }

    .strength__list-text {
        margin: 30px 0;
    }

    .strength__nav-item-text {
        font-size: 16px;
        line-height: 120%;
        width: 230px;
    }

    .strength__nav-item-button {
        margin: 0;
    }

    .strength__nav-item:first-child {
        border-right: 1px solid #2B2B2B;
    }
    
    .strength__nav-item:last-child {
        border-left: 1px solid #2B2B2B;
    }

    .strength__list-title {
        font-weight: 500;
        font-size: 60px;
        line-height: 120%;
        margin: 0;
    }

    .strength__list-images-item:first-child {
        margin: 0;
    }

    .strength__list-images-item:nth-child(3n){
        margin: 0;
    }

    .strength__list-images-item:nth-child(4n) {
        margin: 0;
    }
}

@media screen and (min-width: 1080px) {
    .strength {
        padding: 27px 80px 80px 80px;
        align-items: flex-start;
    }

    .strength__nav-item {
        height: 599px;
        grid-template-rows: 272px 50px 200px 63px;
        justify-content: center;
        align-content: center;
        justify-items: center;
    }

    .strength__nav-item-text {
        margin: 24px 46px 15px 46px;
    }

    .strength__list {
        display: flex;
    }

    .strength__list-text {
        text-align: left;
    }
}

@media screen and (min-width: 1366px){
    .strength {
        padding: 60px 120px;
    }
    
    .strength__title {
        font-size: 40px;
        line-height: 120%;
    }

    .strength__nav-item {
        height: 418px;
        grid-template-rows: 165px 46px 104px 97px;
        grid-template-columns: 375px;
    }

    .strength__nav-item-text {
        margin: 0;
        font-size: 14px;
        line-height: 120%;
        width: 274px;
    }

    .strength__list {
        display: grid;
        justify-content: space-between;
        grid-template-areas: "title img"
                         "subtitle img";
        grid-template-columns: 30% 60%;
        grid-template-rows: repeat(2, 60px);
        row-gap: 24px;
        margin-top: 36px;
    }

    .strength__list-text {
        margin: 0;
    }

    .strength__nav-item-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 120%;
    }

    .strength__nav-item-button {
        width: 170px;
        height: 44px;
        font-size: 20px;
        line-height: 140%;
    }

    .strength__list-title {
        font-size: 40px;
        line-height: 120%;
    }

    .strength__list-images-item {
        width: 148px;
        height: 148px;
    }

    .strength__list-images {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1920px){
    .strength {
        padding: 4% 9%;
        align-items: center;
    }

    .strength__title {
        font-size: 60px;
        line-height: 120%;
    }

    .strength__nav {
        width: 70%;
        justify-self: center;
        justify-content: space-evenly
    }
    
    .strength__nav-item {
        height: 594px;
        grid-template-rows: 256px 68px 141px 92px;
        justify-items: center;
        justify-content: space-around;
    }

    .strength__nav-item-image {
        width: 100%;
        height: 100%;
    }

    .strength__nav-item-text {
        margin: 0;
        font-size: 16px;
        line-height: 120%;
    }

    .strength__list {
        grid-template-areas: "title img"
                         "subtitle img";
        grid-template-columns: 35% 45%;
        grid-template-rows: 72px 60px;
        column-gap: 248px;
        row-gap: 24px;
        margin-top: 48px;
    }

    .strength__nav-item-button {
        width: 194px;
        height: 52px;
        font-size: 20px;
        line-height: 140%;
    }

    .strength__list-title {
        font-size: 60px;
        line-height: 120%;
    }

    .strength__list-text {
        font-size: 16px;
        line-height: 120%;
    }

    .strength__list-images-item {
        width: 150px;
        height: 150px;
    }

    .strength__nav-item-title {
        font-size: 48px;
        line-height: 120%;
    }
}

.strength {
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed #2B2B2B;
}

.strength__title {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #2B2B2B;
}

.strength__nav {
    display: flex;
    border: 1px solid #2B2B2B;
    margin: 0;
    padding: 0;
    border-radius: 8px;
}

.strength__nav-item {
    display: grid;
}

.strength__nav-item-img-block {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.strength__nav-item-image {
    object-position: 0% 50%;
    object-fit: contain;
    overflow: hidden;
}

.strength__nav-item-title {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #2B2B2B;
    margin: 0;
    text-align: center;
}

.strength__nav-item-text {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    padding: 0;
    text-align: center;
    white-space: pre-line;
}

.strength__nav-item-button {
    background: #FDB914;
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    outline: none;
    border: none;
    align-self: center;
    justify-self: center;
    position: relative;
    display: inline-flex;
    z-index: 0;
    overflow: hidden;
}

.strength__list-title {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #2B2B2B;
    grid-area: title;
}

.strength__list-text {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    grid-area: subtitle;
}

.strength__list-images {
    grid-area: img;
    margin: 0;
    padding: 0;
}

.strength__list-images-item {
    border: 1px solid #2B2B2B;
    list-style: none;
    border-radius: 8px;
}

.strength__nav-item-button::before {
    z-index: 0;
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(0%, 0%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #2B2B2B;
    transition: width 0.5s, height 0.5s;
}

.header__nav-item_yellow_bordered::before {
    z-index: 0;
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(0%, 0%);
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
    background: #2B2B2B;
    color: #F2F2F2;
}


.strength__nav-item-button:hover {
    transition: 0.5s;
    color: #F2F2F2;
}

.strength__nav-item-button:hover::before {
    z-index: -1;
    width: 250px;
    height: 250px;
}

.strength__nav-item-button_position {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}