@media screen and (min-width: 320px) {
    .strength {
        margin: 50px 20px;
    }

    .strength__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 52px;
    }

    .strength__nav {
        display: flex;
        flex-direction: column;
        width: 280px;
    }

    .strength__nav-item {
        width: 278px;
        border-bottom: 1px solid #2B2B2B;
    }

    .strength__nav-item:last-child {
        border: none;
    }

    .strength__nav-item-image {
        width: 300px;
    }

    .strength__nav-item-text {
        margin-top: 15px;
        font-size: 16px;
        line-height: 100%;
        width: 278px;
    }

    .strength__nav-item-button {
        margin-bottom: 10px;
    }

    .strength__list-title {
        font-weight: 500;
        font-size: 40px;
        line-height: 100%;
    }
    
    .strength__list-images {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .strength__title {
        font-weight: 500;
        font-size: 60px;
        line-height: 120%;
    }
    
    .strength__nav {
        flex-direction: row;
        width: 100%;
    }

    .strength__nav-item-image {
        width: 90%;
        height: 90%;
    }

    .strength__nav-item {
        height: 599px;
        width: 533px;
        grid-template-rows: 272px 50px 200px 63px;
        grid-template-columns: 240px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        border: none;
    }

    .strength__nav-item-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 60px;
    }

    .strength__list {
        margin-top: 30px;
    }

    .strength__list-images {
        flex-direction: row;
    }

    .strength__list-text {
        margin: 30px 0;
    }

    .strength__nav-item-text {
        font-size: 16px;
        line-height: 120%;
        width: 230px;
    }

    .strength__nav-item-button {
        margin: 0;
    }

    .strength__nav-item:first-child {
        border-right: 1px solid #2B2B2B;
    }
    
    .strength__nav-item:last-child {
        border-left: 1px solid #2B2B2B;
    }

    .strength__list-title {
        font-weight: 500;
        font-size: 60px;
        line-height: 120%;
        margin: 0;
    }
}

@media screen and (min-width: 1080px) {
    .strength {
        margin: 27px 80px 80px 80px;
    }

    .strength__nav-item {
        height: 599px;
        grid-template-rows: 272px 50px 200px 63px;
        justify-content: center;
        align-content: center;
        justify-items: center;
    }

    .strength__nav-item-image {
        width: 80%;
        height: 80%;
    }

    .strength__nav-item-text {
        margin: 24px 46px 15px 46px;
    }

    .strength__list {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1440px){
    .strength {
        margin: 100px 160px 80px 160px;
    }
    
    .strength__nav-item {
        height: 594px;
        grid-template-rows: 270px 50px 200px auto;
        grid-template-columns: 390px;
    }

    .strength__nav-item-text {
        margin: 24px 96px 24px 96px;
    }

    .strength__list {
        display: grid;
        grid-template-areas: "title img"
                         "subtitle img";
        grid-template-columns: 356px auto;
        grid-template-rows: 72px 60px;
        column-gap: 148px;
        row-gap: 24px;
        margin-top: 48px;
    }

    .strength__list-text {
        margin: 0;
    }

    .strength__nav-item-title {
        font-weight: 500;
        font-size: 48px;
        line-height: 120%;
    }
}

@media screen and (min-width: 1920px){
    .strength {
        margin: 100px 160px 80px 160px;
    }
    
    .strength__nav-item {
        height: 594px;
        grid-template-rows: 270px 50px 200px auto;
    }

    .strength__nav-item-image {
        width: 100%;
        height: 100%;
    }

    .strength__nav-item-text {
        margin: 24px 96px 24px 96px;
    }

    .strength__list {
        display: grid;
        grid-template-areas: "title img"
                         "subtitle img";
        grid-template-columns: 356px auto;
        grid-template-rows: 72px 60px;
        column-gap: 248px;
        row-gap: 24px;
        margin-top: 48px;
    }
}

.strength {
    display: flex;
    flex-direction: column;
}

.strength__title {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #2B2B2B;
    margin: 0 0 50px 0;
}

.strength__nav {
    display: flex;
    border: 1px solid #2B2B2B;
    margin: 0;
    padding: 0;
}

.strength__nav-item {
    display: grid;
}

.strength__nav-item-img-block {
    width: 100%;
}

.strength__nav-item-image {
    object-position: 0% 50%;
    object-fit: contain;
    overflow: hidden;
}

.strength__nav-item-title {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #2B2B2B;
    margin: 0;
    text-align: center;
}

.strength__nav-item-text {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    padding: 0;
    text-align: center;
    white-space: pre-line;
}

.strength__nav-item-button {
    width: 194px;
    height: 52px;
    background: #FDB914;
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    outline: none;
    border: none;
    align-self: center;
    justify-self: center;
}

.strength__list-title {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #2B2B2B;
    grid-area: title;
}

.strength__list-text {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    grid-area: subtitle;
}

.strength__list-images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    grid-area: img;
    margin: 0;
    padding: 0;
}
.strength__list-images-item {
    width: 150px;
    height: 150px;
    border: 1px solid #2B2B2B;
    list-style: none;
}