.scrollbar {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
  padding-right: 10px;
  padding-top: 36px;
  &__thumb {
    background: $primary;
    border: 1px solid $black;
    width: 8px;
    height: 60px;
    border-radius: 6px;
    cursor: grab;
  }
}
