.main-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
}

.card-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

@media screen and (max-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 52px;
  }
}

@media screen and (max-width: 650px) {
  .main-title {
    font-size: 32px;
    line-height: 38px;
  }
}
