.deatailed-btn {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;

  position: relative;
  padding-bottom: 4px;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 17px);
    width: 0;
    transition: all 0.5s ease;
    background: $primary;
    height: 2px;
  }
  &.active::before,
  &:hover::before {
    left: 0;
    width: calc(100% - 35px);
  }

  &::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("../../../assets/icons/arrow.svg") no-repeat center;
    background-size: contain;
    margin-left: 13px;
  }
  &.back {
    flex-direction: row-reverse;
    &::after {
      margin-left: 0;
      margin-right: 13px;
      transform: rotate(180deg);
    }
    &::before {
      left: calc(50% + 17px);
    }
    &.active::before,
    &:hover::before {
      left: 35px;
      width: calc(100% - 35px);
    }
  }
}

@media screen and (max-width: 750px) {
  .deatailed-btn {
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    &::after {
      margin-left: 8px;
    }
    &::before {
      left: calc(50% - 15px);
    }
    &.active::before,
    &:hover::before {
      left: 0;
      width: calc(100% - 30px);
    }
    &.back {
      &::after {
        margin-left: 0;
        margin-right: 8px;
        transform: rotate(180deg);
      }
      &.active::before,
      &:hover::before {
        left: 30px;
        width: calc(100% - 30px);
      }
    }
  }
}
