@media screen and (min-width: 768px) {
    .about-us {
        padding: 27px 40px;
    }

    .about-us__title {
        width: 500px;
    }
}

@media screen and (min-width: 1080px){
    .about-us {
        padding: 27px 30px 80px 30px;
    }

    .about-us__title {
        margin: 35px 0 0 0;
        width: 794px;
    }
}

@media screen and (min-width: 1440px) {
    .about-us {
        padding: 27px 60px 80px 60px;
    }
}

@media screen and (min-width: 1920px) {
    .about-us {
        padding: 27px 160px 80px 160px;
    }

    .about-us__title {
        margin: 315px 0 0 0;
    }
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    position: relative;
    background-image: url("https://images.unsplash.com/photo-1642553517785-f1daee6ba12d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2671&q=80");
}

.about-us::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(248, 248, 248, 0.253);
}

.about-us__title {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120%;
    color: #2B2B2B;
    text-align: center;
    align-self: center;
    position: relative;
}

.about-us__text {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    max-width: 620px;
    margin: 0;
    white-space: pre-line;
    text-align: center;
    width: 794px;
    align-self: center;
    position: relative;
}

.about-us__button-section {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: calc(194px*2 + 48px);
    position: relative;
    align-content: center;
    align-self: center;
    position: relative;
}

.about-us__button {
    width: 194px;
    height: 52px;
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    outline: none;
    box-shadow: none;
    background-color: #E5E5E5;
    border: 1px solid #2B2B2B;
    position: relative;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    overflow: hidden;
    padding: 0;
}

.about-us__button:hover {
    cursor: pointer;
}

.about-us__button_yellow {
    background: #FDB914;
    border: none;
}

.about-us__button_light::before {
    z-index: 0;
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(0%, 0%);
    width: 0;
    height: 0;
    border-radius: 8px;
    background: #FDB914;
    transition: width 0.5s, height 0.5s;
}

.about-us__button_yellow::before {
    z-index: 0;
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(0%, 0%);
    width: 0;
    height: 0;
    border-radius: 8px;
    background: #F2F2F2;
    transition: width 0.5s, height 0.5s;
}

.about-us__button:hover {
    transition: 0.5s;
    color: #2B2B2B;
    border: 1px solid #2B2B2B;
}

.about-us__button:hover::before {
    z-index: -1;
    width: 500px;
    height: 250px;
}

.about-us__button_position {
    position: relative;
    z-index: 1;
}