@media screen and (min-width: 320px) {
    .join-us {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .join-us__title {
        font-size: 28px;
        line-height: 120%;
    }

    .join-us__text {
        font-size: 14px;
        line-height: 140%;
    }
}
@media screen and (min-width: 768px) {
    .join-us {
        display: grid;
        grid-template-areas: "img title"
                                "img text"
                                "img button";
        padding: 47px 20px;
        grid-template-columns: 362px 306px;
        column-gap: 40px;
        grid-template-rows: 90px 398px 100px;
    }

    .join-us__title {
        width: 300px;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
    }

    .join-us__img-section {
        height: 100%;
        width: 100%;
    }

    .join-us__text {
        font-weight: normal;
        font-size: 20px;
        line-height: 140%;
    }
}

@media screen and (min-width: 1080px){
    .join-us {
        padding: 27px 30px 80px 30px;
        grid-template-columns: 380px 462px;
        column-gap: 160px;
        grid-template-rows:204px 398px 100px;
    }

    .join-us__title {
        margin: 35px 0 0 0;
        width: 440px;
        font-weight: 500;
        font-size: 60px;
        line-height: 100%;
    }

    .join-us__text {
        font-weight: normal;
        font-size: 24px;
        line-height: 140%;
    }
}

@media screen and (min-width: 1366px) {
    .join-us {
        padding: 0 9% 4% 9%;
        margin: 0;
        grid-template-columns: 468px 563px;
        column-gap: 164px;
        grid-template-rows:  137px 183px 134px;
    }

    .join-us__title {
        margin: 0;
        font-size: 40px;
        line-height: 120%;
    }

    .join-us__text {
        font-size: 20px;
        line-height: 140%;
    }

    .join-us__button {
        width: 170px;
        height: 44px;
    }
}

@media screen and (min-width: 1920px) {
    .join-us {
        padding: 27px 160px 0 160px;
        margin: 0 0 130px 0;
        grid-template-columns: 600px 563px;
        column-gap: 370px;
        grid-template-rows: 204px 253px 102px;
    }

    .join-us__title {
        margin: 50px 0 0 0;
        font-size: 60px;
        line-height: 120%;
        width: 100%;
    }

    .join-us__button {
        margin: 0;
    }
}

.join-us {
    border-bottom: 1px dashed #2B2B2B;
}

.join-us__title {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #2B2B2B;
    grid-area: title;
}

.join-us__img-section {
    grid-area: img;
    overflow: hidden;
}

.join-us__img {
    grid-area: img;
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.join-us__text {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #000000;
    grid-area: text;
    white-space: pre-line;
}

.join-us__button {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    grid-area: button;
    height: 52px;
    width: 194px;
    background-color: #FDB914;
    border: none;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #2B2B2B;

}