@media screen and (min-width: 768px) {
    .login-page {
        padding: 27px 40px;
    }

    .login__title {
        width: 500px;
    }
}

@media screen and (min-width: 1080px){
    .login-page {
        padding: 27px 30px 80px 30px;
    }

    .login__title {
        margin: 35px 0 0 0;
        width: 794px;
    }
}

@media screen and (min-width: 1440px) {
    .login-page {
        padding: 27px 60px 80px 60px;
    }
}

@media screen and (min-width: 1920px) {
    .login-page {
        padding: 27px 160px 0 160px;
    }

    .login__title {
        margin: 0;
    }
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
}

.login {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.login__title {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 120%;
    color: #2B2B2B;
    text-align: center;
    margin: 0 0 0 16px;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-start;
    width: 477px;
    margin: 48px 0 24px 0;
}

.login__label {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #2B2B2B;
    margin-bottom: 16px;
}

.login__input {
    outline: none;
    box-shadow: none;
    border: 1px solid #2B2B2B;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding: 13px 16px;
    box-sizing: border-box;
}

.login__input::placeholder {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-align: left;
    color: #949494;
}

.login__button {
    width: 100%;
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #F2F2F2;
    background: #2B2B2B;
    height: 52px;
    margin-top: 24px;;
}

.login__help {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 477px;
}

.login__sub {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #949494;
    margin: 0;
}

.login__link {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #2B2B2B;
}
