@media screen and (min-width: 320px) {
    .nav-button {
        font-size: 16px;
        line-height: 100%;
    }
}

@media screen and (min-width: 768px) {
    .nav-button {
        font-size: 18px;
        line-height: 120%;
    }
}
@media screen and (min-width: 1336px) {
    .nav-button {
        font-size: 20px;
        line-height: 120%;
    }
}

@media screen and (min-width: 1920px) {
    .nav-button {
        font-size: 20px;
        line-height: 120%;  
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E5E5E5;
    width: 100%;
    box-sizing: border-box;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    outline: none;
    background: transparent;
    border: none;
    box-shadow: none;
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    text-decoration: none;
    color: inherit;
    align-self: center;
}

.nav-button:hover {
    cursor: pointer;
    color: inherit;
}