@media screen and (min-width: 320px) {
    .company {
        padding: 20px;
    }

    .company__title {
        font-weight: 500;
        font-size: 34px;
        line-height: 100%;
    }

    .company__subtitle {
        font-size: 24px;
        line-height: 100%;
    }

    .company__img {
        width: 80%;
        height: 80%;
    }

    .company__text {
        font-size: 24px;
        line-height: 100%;
    }
}

@media screen and (min-width: 768px) {
    .company {
        padding: 27px 40px;
    }

    .company__title {
        width: 500px;
        font-weight: 500;
        font-size: 60px;
        line-height: 120%;
    }

    .company__subtitle {
        font-size: 24px;
        line-height: 140%;
    }

    .company__text {
        font-size: 24px;
        line-height: 140%;
    }
}

@media screen and (min-width: 1080px){
    .company {
        padding: 27px 30px 80px 30px;
    }

    .company__title {
        margin: 35px 0 0 0;
        width: 794px;
    }

    .company__text {
        width: 1000px;
    }
}

@media screen and (min-width: 1366px) {
    .company {
        padding: 60px 60px 40px 60px;
    }

    .company__title {
        margin: 0;
    }

    .company__img-section {
        height: 700px;
    }

    .company__text {
        width: 1060px;
        font-size: 20px;
        line-height: 120%;
        margin: 0 0 28px 0;
    }
}

@media screen and (min-width: 1920px) {
    .company {
        padding: 27px 160px 80px 160px;
    }

    .company__title {
        margin: 0;
    }

    .company__text {
        width: 1060px;
        font-size: 24px;
        line-height: 140%;
    }

    .company__img {
        height: 900px;
    }

    .company__img-section {
        height: 840px;
        overflow: hidden;
    }
}


.company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company__title {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #2B2B2B;
    text-align: center;
}

.company__subtitle {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #2B2B2B;
    margin: 48px 0 0 0;
}

.company__text {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    white-space: pre-line;
}

.company__img-section {
    overflow: hidden;
}

.company__img {
    background-position: center;
    object-fit: cover;
    width: 100%;
}