.login-footer {
   display: flex;
   flex-direction: column; 
   margin: 0 160px;
   justify-content: center;
   align-items: center;
}

.login-footer__policy {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: #2B2B2B;
}

.login-footer__policy-bold {
    font-weight: 500;
}

.login-footer__policy-link {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: #2B2B2B;
    text-decoration: underline;
}