@font-face {
  font-family: "Norms Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/TTNormsPro-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Norms Pro";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/TTNormsPro-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Norms Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/TTNormsPro-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Norms Pro";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/TTNormsPro-ExtraBlack.ttf") format("truetype");
  font-display: swap;
}
