@import "variables";
@import "fonts";
@import "./components/footer";
@import "./components/burger";
@import "./components/dropdown";
@import "./components/buttons";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Norms Pro";
  font-weight: 400;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
}

button {
  outline: none;
  background: transparent;
  border: 0;
}

.container {
  max-width: 1700px;
  padding: 0 50px;
  margin: 0 auto;
}

@media screen and (max-width: 765px) {
  .container {
    padding: 0 16px;
  }
}
