.btn_primary {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  background: $yellow;
  padding: 12px 36px;
  outline: none;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.circle-animation-btn {
  position: relative;
  transition: 0.3s;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  &:focus {
    outline: none;
  }
  span {
    position: relative;
    z-index: 1;
    pointer-events: none;
  }
}

.circle-animation-btn::before {
  z-index: 0;
  content: "";
  position: absolute;
  top: var(--circle-top-position);
  left: var(--circle-left-position);
  width: var(--circle-width);
  height: var(--circle-width);
  background-color: var(--bg-color);
  border-radius: 50%;
  transition: transform 0.3s;
  transform: scale(0);
}

.circle-animation-btn:hover::before {
  transform: scale(1);
  transition: 0;
}

.line-animate-btn {
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 0;
    background: var(--bg-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
  }
  &:hover::after {
    width: 100%;
  }
}
