.dropdown {
  flex-flow: column;
  text-align: center;
  position: relative;
}
.dropdown__selected-item {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-left: 15px;
  cursor: pointer;
  color: #f2f2f2;
}
.dropdown__selected-item::after {
  content: "\203A";
  margin-left: 15px;
  font-size: 30px;
  transform: rotate(90deg);
}
.dropdown__selected-item.active::after {
  margin-left: 5px;
  margin-right: 10px;
  transform: rotate(270deg);
}
.dropdown__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  flex-flow: column;
  z-index: 3;
  background: #2b2b2b;
  border-radius: 8px;
  box-shadow: 0 0 20px #6d6d6d38;
}
.dropdown__list.active {
  display: flex;
}
.dropdown__list-item > * {
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #f2f2f2;
}
.dropdown__list .dropdown__list-item:first-child {
  border-radius: 8px 8px 0 0;
}
.dropdown__list .dropdown__list-item:last-child {
  border-radius: 0 0 8px 8px;
}
.dropdown__list-item.active {
  background: #f2f2f2;
  color: #2b2b2b;
}
.dropdown__list-item.active a {
  color: #2b2b2b;
}
