.about-company {
  &__title {
    margin-bottom: 32px;
  }
  &__subtitle {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 80px;
    font-weight: normal;
  }
  &__cards {
    display: flex;
    column-gap: 60px;
    justify-content: space-between;
    width: 84%;
    margin: 0 auto;
    &_item {
      width: 33%;
      background: $secondary;
      border-radius: 32px;
      overflow: hidden;
      box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
      .card {
        &__img {
          width: 200px;
          object-fit: contain;
          object-position: bottom right;
          margin-bottom: 22px;
        }
        &__info {
          padding: 20px 24px;
          &_title {
            font-weight: 900;
            font-size: 50px;
            line-height: 60px;
            letter-spacing: 0.35em;
            color: $primary;
          }
          &_subtitle {
            font-weight: 900;
            font-size: 30px;
            line-height: 36px;
            letter-spacing: 0.81em;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
