.send-request {
  &__wrapper {
    border-radius: 32px;
    background: $secondary;
    width: 83%;
    margin: 0 auto;
    padding: 60px;
    display: flex;
    justify-content: space-between;
  }
  &__left {
    width: 45%;
    &_img {
      width: 100%;
      height: 100%;
      max-height: 400px;
      object-fit: contain;
      object-position: center;
    }
  }
  &__right {
    width: 45%;
    display: flex;
    flex-direction: column;
    &_title {
      margin-bottom: 60px;
    }
    input {
      border: none;
      padding: 12px 20px;
      font-size: 20px;
      line-height: 140%;
      background: #ffffff;
      border-radius: 6px;
      margin-bottom: 40px;
      &::placeholder {
        color: #8a8a8a;
      }
    }
    &_submit {
      margin-top: auto;
      align-self: flex-start;
    }
  }
}

@media screen and (max-width: 1250px) {
  .send-request__wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .send-request__right_title {
    font-size: 36px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 950px) {
  .send-request__wrapper {
    flex-direction: column;
  }
  .send-request__left,
  .send-request__right {
    width: 100%;
  }
  .send-request__left {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 650px) {
  .send-request__wrapper {
    padding: 24px 16px;
  }
  .send-request__right_title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
  }
  .send-request__right input {
    margin-bottom: 24px;
  }
  .send-request__right_submit {
    margin-top: 48px;
  }
}
