.solutions {
  max-width: 1700px;
  margin: 0 auto 110px;
  &__title {
    margin-bottom: 80px;
  }
  &__wrapper {
    display: flex;
    padding: 0 50px 0 0;
  }
  &__mobile {
    display: none;
  }
  &__slider {
    width: 62.5%;
    flex-shrink: 0;
    &_item {
      background: $secondary;
      border-radius: 32px;
      box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
      margin: 50px;
      &_title {
        margin-bottom: 24px;
        padding: 32px;
        .title-top-text,
        .title-bottom-text {
          display: flex;
          justify-content: space-between;
          font-weight: 900;
        }
        .title-top-text {
          font-size: 31.5px;
          line-height: 38px;
          margin-bottom: 8px;
        }
        .title-bottom-text {
          font-size: 70.5px;
          line-height: 84px;
        }
      }
      &_bottom-wrapper {
        display: flex;
        align-items: end;
        img {
          height: 320px;
          object-fit: contain;
          object-position: bottom left;
        }
        span {
          font-weight: 500;
          font-size: 16px;
          line-height: 120%;
          white-space: nowrap;
          padding: 32px;
          text-transform: uppercase;
        }
      }
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 82px 0 82px 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 2px;
      left: 45px;
      top: 0;
      bottom: 0;
      background: $black;
      margin: 82px 0;
    }
    &_button.active .num {
      background: $primary;
    }
    &_button {
      display: inline-flex;
      align-items: center;
      position: relative;
      z-index: 1;
      .num {
        width: 32px;
        height: 32px;
        background: $black;
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        margin-right: 24px;
      }
      .text {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .solutions__slider_item_title .title-top-text {
    font-size: 26px;
    line-height: 1.2;
  }
  .solutions__slider_item_title .title-bottom-text {
    font-size: 55px;
    line-height: 1.2;
  }
  .solutions__slider_item img {
    height: 250px;
  }
}

@media screen and (max-width: 1300px) {
  .solutions__nav {
    padding-left: 15px;
    &::before {
      left: 29px;
    }
  }
  .solutions__slider_item_title {
    padding: 16px;
  }
  .solutions__slider_item_bottom-wrapper span {
    padding: 16px;
  }
}

@media screen and (max-width: 1210px) {
  .solutions__wrapper {
    display: none;
  }
  .solutions {
    margin-bottom: 160px;
  }
  .solutions__mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
    &_item {
      border-radius: 16px;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
      background: $secondary;
      max-width: 410px;
      width: 100%;
      &_title {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 40px;
        padding: 12px;
      }
      &_wrapper {
        display: flex;
        align-items: end;
        img {
          height: 150px;
          object-fit: contain;
          object-position: left bottom;
        }
        span {
          font-weight: 500;
          font-size: 8px;
          line-height: 120%;
          text-transform: uppercase;
          padding: 12px;
          margin-left: auto;
          text-align: right;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .solutions {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 750px) {
  .solutions__title {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 650px) {
  .solutions {
    margin-bottom: 60px;
  }
  .solutions__mobile_item_wrapper img {
    height: 120px;
  }
  .solutions__mobile_item {
    max-width: 380px;
  }
}
