.subservices {
  position: relative;
  &__mobile {
    display: none;
  }
  &__title {
    margin-bottom: 32px;
  }
  &__subtitle {
    margin-bottom: 80px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
  &__slider {
    background: $secondary;
    .owl-stage,
    .owl-item {
      display: flex;
    }
    .owl-item.active.center .subservices__slider_item {
      box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
      opacity: 1;
    }
    &_item {
      opacity: 0.5;
      box-shadow: none;
      margin: 60px 0;
      border-radius: 32px;
      padding: 27px 40px 15px 20px;
      background: #fff;
      display: flex;
      flex-direction: column;
      &_wrapper {
        display: flex;
        height: 100%;
      }
      .item {
        &__img {
          img {
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
        &__text {
          font-size: 20px;
          line-height: 120%;
          padding: 0 20px 0 60px;
          display: flex;
          flex-direction: column;
          width: 50%;
          min-width: min-content;
          flex-shrink: 0;
          &_title {
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;
            margin-bottom: 40px;
            white-space: nowrap;
          }
          &_wrapper {
            height: 100%;
          }
          .text {
            &__desc.active,
            &__detailed.active {
              opacity: 1;
              transition: opacity 0.6s;
              z-index: 1;
              min-height: 410px !important;
            }
            &__desc.hide,
            &__detailed.hide {
              opacity: 0;
              height: 0;
              z-index: 0;
            }
            &__desc,
            &__detailed {
              position: relative;
              height: 100%;
              display: flex;
              flex-direction: column;
              p {
                margin-bottom: 40px;
              }
              ul {
                margin-bottom: 40px;
                li {
                  list-style: none;
                }
              }
            }
          }
          .deatailed-btn {
            margin-top: auto;
            margin-left: auto;
            align-self: flex-start;
          }
        }
        &__buttons {
          display: flex;
          justify-content: center;
          column-gap: 10px;
          margin-top: 15px;
          .buttons__item {
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 1px solid $black;
            border-radius: 100%;
            background: #fff;
            &.active {
              background: $black;
            }
          }
        }
      }
    }
  }
  .slider__nav {
    &_item {
      position: absolute;
      top: 60%;
      height: 60px;
      width: 60px;
      background: $black;
      border-radius: 6px;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
      }
      &.left {
        left: 10%;
      }
      &.right {
        right: 10%;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .subservices__slider_item {
    margin: 30px 0;
    .item {
      &__text {
        padding: 0 0 0 30px;
      }
      &__text_title {
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 20px;
      }
    }
  }
  .subservices .slider__nav_item {
    &.left {
      left: 5%;
    }
    &.right {
      right: 5%;
    }
  }
}

@media screen and (max-width: 1150px) {
  .subservices__slider_item {
    margin: 40px;
  }
  .slider__nav {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .subservices__slider {
    display: none !important;
  }
  .subservices {
    &__title {
      margin-bottom: 16px;
    }
    &__subtitle {
      text-align: center;
      max-width: 80%;
      margin: 0 auto;
      margin-bottom: 24px;
    }
    &__mobile {
      display: block;
      background: $secondary;
      padding: 24px 16px;
      &_item {
        max-width: 410px;
        margin: 0 auto;
        background: #fff;
        padding: 16px;
        border-radius: 16px;
        margin-bottom: 24px;
        min-height: 630px;
        display: flex;
        flex-direction: column;
        &:last-child {
          margin-bottom: 0;
        }
        .item {
          font-size: 16px;
          line-height: 120%;
          display: flex;
          flex-direction: column;
          &__img {
            width: 100%;
            object-fit: contain;
            object-position: top center;
            margin-bottom: 24px;
          }
          &__title {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 12px;
          }
        }
        .text {
          &__desc.active,
          &__detailed.active {
            flex: 1;
            opacity: 1;
            transition: opacity 0.6s;
            z-index: 1;
          }
          &__desc.hide,
          &__detailed.hide {
            opacity: 0;
            height: 0;
            z-index: 0;
            overflow: hidden;
          }
          &__desc,
          &__detailed {
            display: flex;
            flex-direction: column;
            p {
              margin-bottom: 20px;
            }
            ul {
              margin-bottom: 20px;
              li {
                list-style: none;
              }
            }
          }
        }
        .deatailed-btn {
          margin: auto 16px 0 auto;
          align-self: flex-start;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .subservices__mobile_item {
    max-width: 380px;
  }
}

@media screen and (max-width: 550px) {
  .subservices {
    &__subtitle {
      font-size: 16px;
      line-height: 19px;
    }
  }
}
