.where-begin {
  &__wrapper {
    background: $secondary;
    border-radius: 32px;
    padding: 90px 64px;
  }
  &-mobile {
    display: none;
  }
  &__title {
    margin-bottom: 80px;
  }
  &__images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    img {
      width: 15%;
      object-fit: contain;
      object-position: bottom;
      &:last-child {
        width: 20%;
      }
      &:nth-child(3) {
        width: 18%;
      }
    }
  }
  &__steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    &_line {
      width: 100%;
      height: 2px;
      background: $black;
      position: absolute;
      top: 15px;
      &::after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: $black;
        position: absolute;
        top: -4px;
        right: 0;
      }
    }
    &_item {
      position: relative;
      z-index: 1;
      width: 15%;
      display: flex;
      flex-direction: column;

      &:last-child {
        width: 20%;
      }
      &:nth-child(4) {
        width: 18%;
      }
      &_num {
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        color: #ffffff;
        display: inline-block;
        height: 32px;
        width: 32px;
        border-radius: 6px;
        background: $black;
        text-align: center;
        padding-top: 4px;
        margin-bottom: 12px;
      }
      &_title {
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
      }
    }
  }
}
