/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.services-text-block {
    border-bottom: 1px dashed var(--dark-gray-color);
    padding: 80px 0;
    font-size: 26px;
}
.services-text-list {
    margin: 0;
}
.services-text-block .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: flex-start;
}
.services-text-block .row > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.services-text-block__img1 {
    width: 50%;
    margin: auto 0;
}
.services-text-block__img2 {
    width: 80%;
    margin: auto 0;
}
.services-text-block__img3 {
    width: 70%;
    margin: auto 0;
}
.mt-auto {
    margin: auto 0 0 0;
}
.text-bold {
    margin: 48px 0 24px 0;
    font-weight: 500;
    font-size: 29px;
}
@media(min-width: 1200px) {
    .services-text-block .title {
        line-height: 35px;
        font-size: 40px;
    }
}
@media(max-width: 992px) {
    .services-text-block .title {
        text-align: center;
    }
    .services-text-block .title-text, .services-text-block p {
        text-align: justify;
    }
    .services-text-block .text-bold {
        text-align: left;
    }
}
@media(max-width: 768px) {
    .services-text-block__img1 {
        width: 50%;
        margin: auto;
        margin-bottom: 30px;
    }
    .services-text-block__img2 {
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
    }
    .services-text-block__img3 {
        width: 70%;
        margin: auto;
        margin-bottom: 30px;
    }
    .services-text-block {
        padding: 40px 0;
        font-size: 20px;
    }
    .services-text-block .row > * {
        margin: 0 auto;
    }
}