.send-request__wrapper {
  border-radius: 32px;
  background: #e8fff5;
  width: 83%;
  margin: 0 auto;
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.send-request__left {
  width: 45%;
}
.send-request__left_img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.send-request__right {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.send-request__right_title {
  margin-bottom: 60px;
}
.send-request__right input {
  border: none;
  padding: 12px 20px;
  font-size: 20px;
  line-height: 140%;
  background: #ffffff;
  border-radius: 6px;
  margin-bottom: 40px;
}
.send-request__right input::-webkit-input-placeholder {
  color: #8a8a8a;
}
.send-request__right input::-moz-placeholder {
  color: #8a8a8a;
}
.send-request__right input:-ms-input-placeholder {
  color: #8a8a8a;
}
.send-request__right input::-ms-input-placeholder {
  color: #8a8a8a;
}
.send-request__right input::placeholder {
  color: #8a8a8a;
}
.send-request__right_submit {
  margin-top: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 1250px) {
  .send-request__wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .send-request__right_title {
    font-size: 36px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 950px) {
  .send-request__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .send-request__left,
.send-request__right {
    width: 100%;
  }
  .send-request__left {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 650px) {
  .send-request__wrapper {
    padding: 24px 16px;
  }
  .send-request__right_title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
  }
  .send-request__right input {
    margin-bottom: 24px;
  }
  .send-request__right_submit {
    margin-top: 48px;
  }
}
.how-begin__title {
  margin-bottom: 80px;
}
.how-begin__wrapper {
  border-radius: 32px;
  background: #e8fff5;
  padding: 90px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.how-begin__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 50px;
}
.how-begin__left .left__title {
  margin-bottom: 60px;
}
.how-begin__left .left__subtitle {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 48px;
}
.how-begin__left .left__details-btn {
  margin-top: auto;
  -ms-flex-item-align: start;
      align-self: start;
}
.how-begin__right {
  width: 54%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.how-begin__right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

@media screen and (max-width: 1400px) {
  .how-begin__right {
    width: 45%;
  }
}
@media screen and (max-width: 1200px) {
  .how-begin__left .left__title {
    font-size: 36px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 1100px) {
  .how-begin__wrapper {
    padding: 48px;
  }
}
@media screen and (max-width: 950px) {
  .how-begin__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .how-begin__right {
    width: 100%;
    margin-bottom: 24px;
  }
  .how-begin__left .left__title {
    margin-bottom: 12px;
  }
  .how-begin__left {
    padding-right: 0;
  }
}
@media screen and (max-width: 950px) {
  .how-begin__title {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 650px) {
  .how-begin__left .left__title {
    font-size: 24px;
    line-height: 29px;
  }
  .how-begin__left .left__subtitle {
    font-size: 16px;
    line-height: 19px;
  }
  .how-begin__wrapper {
    padding: 24px 12px;
    border-radius: 16px;
  }
}
@media screen and (max-width: 425px) {
  .how-begin__left .left__details-btn {
    width: 100%;
  }
}
.where-begin__wrapper {
  background: #e8fff5;
  border-radius: 32px;
  padding: 90px 64px;
}
.where-begin-mobile {
  display: none;
}
.where-begin__title {
  margin-bottom: 80px;
}
.where-begin__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}
.where-begin__images img {
  width: 15%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}
.where-begin__images img:last-child {
  width: 20%;
}
.where-begin__images img:nth-child(3) {
  width: 18%;
}
.where-begin__steps {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.where-begin__steps_line {
  width: 100%;
  height: 2px;
  background: #2b2b2b;
  position: absolute;
  top: 15px;
}
.where-begin__steps_line::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #2b2b2b;
  position: absolute;
  top: -4px;
  right: 0;
}
.where-begin__steps_item {
  position: relative;
  z-index: 1;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.where-begin__steps_item:last-child {
  width: 20%;
}
.where-begin__steps_item:nth-child(4) {
  width: 18%;
}
.where-begin__steps_item_num {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 6px;
  background: #2b2b2b;
  text-align: center;
  padding-top: 4px;
  margin-bottom: 12px;
}
.where-begin__steps_item_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

@media screen and (max-width: 1100px) {
  .where-begin__wrapper {
    padding: 48px;
  }
}
@media screen and (max-width: 900px) {
  .where-begin {
    display: none;
  }
  .where-begin__title {
    margin-bottom: 24px;
  }
  .where-begin-mobile {
    display: block;
    padding: 16px;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .where-begin-mobile__line {
    width: 2px;
    background: #2b2b2b;
    position: relative;
    left: 17px;
  }
  .where-begin-mobile__line::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: -4px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #2b2b2b;
  }
  .where-begin-mobile__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #e8fff5;
    padding: 32px 16px;
    border-radius: 16px;
    width: 100%;
    max-width: 410px;
  }
  .where-begin-mobile__item {
    position: relative;
    z-index: 1;
    margin-bottom: 32px;
  }
  .where-begin-mobile__item .item-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .where-begin-mobile__item .item-top__num {
    display: inline-block;
    background: #2b2b2b;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #ffffff;
    padding: 4px 12px;
    margin-right: 16px;
    border-radius: 6px;
  }
  .where-begin-mobile__item .item-top__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
  }
  .where-begin-mobile__item .item__img {
    max-width: 200px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: bottom;
       object-position: bottom;
    margin-left: 70px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 650px) {
  .where-begin-mobile__wrapper {
    max-width: 380px;
  }
}
.about-company__title {
  margin-bottom: 32px;
}
.about-company__subtitle {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 80px;
  font-weight: normal;
}
.about-company__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 84%;
  margin: 0 auto;
}
.about-company__cards_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
  background: #e8fff5;
  border-radius: 32px;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}
.about-company__cards_item .card__img {
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom right;
     object-position: bottom right;
  margin-bottom: 22px;
}
.about-company__cards_item .card__info {
  margin-top: auto;
  padding: 20px 24px;
}
.about-company__cards_item .card__info_title {
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.35em;
  color: #75cea9;
}
.about-company__cards_item .card__info_subtitle {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-company.benefits .about-company__cards .about-company__cards_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-company.benefits .about-company__cards .about-company__cards_item:last-child .card__img {
  margin-top: -20px;
}
.about-company.benefits .about-company__cards .about-company__cards_item .card__img {
  margin-left: auto;
  margin-bottom: 40px;
}
.about-company.benefits .about-company__cards .about-company__cards_item .card__info {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.8em;
  margin-top: auto;
}
.about-company.benefits .about-company__cards .about-company__cards_item .card__info::before {
  content: "#";
  color: #75cea9;
}

@media screen and (max-width: 1650px) {
  .about-company__cards {
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
    width: 90%;
  }
}
@media screen and (max-width: 1500px) {
  .about-company__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 32px;
  }
  .about-company__cards_item {
    min-width: 410px;
  }
}
@media screen and (max-width: 650px) {
  .about-company__title {
    margin-bottom: 16px;
  }
  .about-company__subtitle {
    margin-bottom: 24px;
    width: 100%;
  }
  .about-company.benefits .about-company__cards .about-company__cards_item .card__info {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.8em;
    padding: 12px;
  }
  .about-company__cards {
    width: 100%;
    row-gap: 24px;
  }
  .about-company__cards_item {
    min-width: unset;
    width: 100%;
    max-width: 380px;
    -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
  }
  .about-company__cards_item .card__info {
    padding: 12px;
    text-align: justify;
  }
  .about-company__cards_item .card__info_title {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.35em;
  }
  .about-company__cards_item .card__info_subtitle {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: unset;
  }
}
.subservices {
  position: relative;
}
.subservices__mobile {
  display: none;
}
.subservices__title {
  margin-bottom: 32px;
}
.subservices__subtitle {
  margin-bottom: 80px;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.subservices__slider {
  background: #e8fff5;
}
.subservices__slider .owl-stage,
.subservices__slider .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subservices__slider .owl-item.active.center .subservices__slider_item {
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  opacity: 1;
}
.subservices__slider_item {
  opacity: 0.5;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 60px 0;
  border-radius: 32px;
  padding: 27px 40px 15px 20px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.subservices__slider_item_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.subservices__slider_item .item__img img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.subservices__slider_item .item__text {
  font-size: 20px;
  line-height: 120%;
  padding: 0 20px 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.subservices__slider_item .item__text_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 40px;
  white-space: nowrap;
}
.subservices__slider_item .item__text_wrapper {
  height: 100%;
}
.subservices__slider_item .item__text .text__desc.active, .subservices__slider_item .item__text .text__detailed.active {
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  z-index: 1;
  min-height: 410px !important;
}
.subservices__slider_item .item__text .text__desc.hide, .subservices__slider_item .item__text .text__detailed.hide {
  opacity: 0;
  height: 0;
  z-index: 0;
}
.subservices__slider_item .item__text .text__desc, .subservices__slider_item .item__text .text__detailed {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.subservices__slider_item .item__text .text__desc p, .subservices__slider_item .item__text .text__detailed p {
  margin-bottom: 40px;
}
.subservices__slider_item .item__text .text__desc ul, .subservices__slider_item .item__text .text__detailed ul {
  margin-bottom: 40px;
}
.subservices__slider_item .item__text .text__desc ul li, .subservices__slider_item .item__text .text__detailed ul li {
  list-style: none;
}
.subservices__slider_item .item__text .deatailed-btn {
  margin-top: auto;
  margin-left: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.subservices__slider_item .item__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 15px;
}
.subservices__slider_item .item__buttons .buttons__item {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #2b2b2b;
  border-radius: 100%;
  background: #fff;
}
.subservices__slider_item .item__buttons .buttons__item.active {
  background: #2b2b2b;
}
.subservices .slider__nav_item {
  position: absolute;
  top: 60%;
  height: 60px;
  width: 60px;
  background: #2b2b2b;
  border-radius: 6px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subservices .slider__nav_item img {
  width: 32px;
  height: 32px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.subservices .slider__nav_item.left {
  left: 10%;
}
.subservices .slider__nav_item.right {
  right: 10%;
}

@media screen and (max-width: 1500px) {
  .subservices__slider_item {
    margin: 30px 0;
  }
  .subservices__slider_item .item__text {
    padding: 0 0 0 30px;
  }
  .subservices__slider_item .item__text_title {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .subservices .slider__nav_item.left {
    left: 5%;
  }
  .subservices .slider__nav_item.right {
    right: 5%;
  }
}
@media screen and (max-width: 1150px) {
  .subservices__slider_item {
    margin: 40px;
  }
  .slider__nav {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .subservices__slider {
    display: none !important;
  }
  .subservices__title {
    margin-bottom: 16px;
  }
  .subservices__subtitle {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .subservices__mobile {
    display: block;
    background: #e8fff5;
    padding: 24px 16px;
  }
  .subservices__mobile_item {
    max-width: 410px;
    margin: 0 auto;
    background: #fff;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 24px;
    min-height: 630px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subservices__mobile_item:last-child {
    margin-bottom: 0;
  }
  .subservices__mobile_item .item {
    font-size: 16px;
    line-height: 120%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subservices__mobile_item .item__img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top center;
       object-position: top center;
    margin-bottom: 24px;
  }
  .subservices__mobile_item .item__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 12px;
  }
  .subservices__mobile_item .text__desc.active, .subservices__mobile_item .text__detailed.active {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
    z-index: 1;
  }
  .subservices__mobile_item .text__desc.hide, .subservices__mobile_item .text__detailed.hide {
    opacity: 0;
    height: 0;
    z-index: 0;
    overflow: hidden;
  }
  .subservices__mobile_item .text__desc, .subservices__mobile_item .text__detailed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subservices__mobile_item .text__desc p, .subservices__mobile_item .text__detailed p {
    margin-bottom: 20px;
  }
  .subservices__mobile_item .text__desc ul, .subservices__mobile_item .text__detailed ul {
    margin-bottom: 20px;
  }
  .subservices__mobile_item .text__desc ul li, .subservices__mobile_item .text__detailed ul li {
    list-style: none;
  }
  .subservices__mobile_item .deatailed-btn {
    margin: auto 16px 0 auto;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
@media screen and (max-width: 650px) {
  .subservices__mobile_item {
    max-width: 380px;
  }
}
@media screen and (max-width: 550px) {
  .subservices__subtitle {
    font-size: 16px;
    line-height: 19px;
  }
}
.edo-benefits__title {
  margin-bottom: 80px;
}
.edo-benefits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e8fff5;
  padding: 90px 60px;
  border-radius: 32px;
}
.edo-benefits__left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 64px;
}
.edo-benefits__left_item {
  overflow: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}
.edo-benefits__left_item.active {
  opacity: 1;
  height: auto;
}
.edo-benefits__left .item__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 32px;
}
.edo-benefits__left .item__subtitle {
  font-size: 24px;
  line-height: 29px;
  width: 75%;
}
.edo-benefits__left_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 24px;
  margin-top: auto;
}
.edo-benefits__left_nav .button-wrapper {
  width: 33%;
}
.edo-benefits__left_nav_item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.edo-benefits__left_nav_item.active .num {
  background: #75cea9;
}
.edo-benefits__left_nav_item .num {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  background: #2b2b2b;
  color: #fff;
  width: 28px;
  height: 28px;
  margin-right: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.edo-benefits__left_nav_item .text {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.edo-benefits__right {
  width: 57%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 6px;
}
.edo-benefits__right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}