.header {
  background: #2b2b2b;
  padding: 30px 0;
}
.header .container, .header__menu .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 132px;
  height: 43px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-right: 87px;
}
.header__nav {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.header__nav_item_btn {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #f2f2f2;
  margin-right: 42px;
  padding: 10px 0;
}
.header__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 115px;
  margin-left: auto;
}
.header__auth_enter, .header__auth_sign {
  font-size: 20px;
  line-height: 120%;
}
.header__auth_enter {
  font-weight: 500;
  color: #f2f2f2;
  padding: 10px 0;
  margin-right: 40px;
}
.header__auth_sign {
  font-weight: 700;
  color: #2b2b2b;
  background: #f4a81d;
  padding: 8px 24px;
  border-radius: 6px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.header__auth_sign:hover {
  background: rgba(244, 168, 29, 0.7);
}
.header__lang {
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__lang_btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #f2f2f2;
  padding: 8px 20px;
  outline: none;
  background: transparent;
  border: 0px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.header__lang_btn.active {
  color: #2b2b2b;
  background: #f2f2f2;
}
.header__lang_btn:focus {
  outline: none;
}
.header__lang_btn:hover {
  background: #f2f2f2;
  color: #2b2b2b;
}
.header__lang_btn-center {
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}

.main-page-slider {
  background: #2b2b2b;
  overflow: hidden;
}
.main-page-slider_item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 750px;
}
.main-page-slider_item .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 77px 0;
}
.main-page-slider_item .slide__img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right top;
     object-position: right top;
  margin-left: 162px;
  -webkit-box-shadow: 11px 12px 30px 0px rgba(43, 43, 43, 0.26);
          box-shadow: 11px 12px 30px 0px rgba(43, 43, 43, 0.26);
}
.main-page-slider_item .slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-page-slider_item .slide__content_title {
  font-weight: 800;
  font-size: 72px;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: auto;
  letter-spacing: -1px;
}
.main-page-slider_item .slide__content_subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
}

.bank-cources {
  background: #2b2b2b;
  height: 60px;
}

.start-working {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px auto;
  border-radius: 6px;
  background: #f2f2f2;
  overflow: hidden;
}
.start-working__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 56px 53px 66px 64px;
}
.start-working__left__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 43px;
}
.start-working__left__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 47px;
}
.start-working__left__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.start-working__left__icons-item {
  margin-right: 88px;
}
.start-working__left__icons-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 12px;
}
.start-working__left__icons-item span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: block;
}
.start-working__left_more-btn {
  margin-top: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.start-working__left_more-btn span {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  display: inline-block;
  margin-right: 13px;
}
.start-working__left_more-btn img {
  width: 29px;
  height: 21px;
  -o-object-fit: cover;
     object-fit: cover;
}
.start-working__right {
  background: #aeeadf;
  border-radius: 6px;
  padding: 31px 66px 0;
  width: 58%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.start-working__right img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  height: 100%;
}

.services {
  margin-bottom: 60px;
  background: #f2f2f2;
  border-radius: 6px;
  padding: 64px;
  padding-top: 56px;
}
.services__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 30px;
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 16px;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
}
.services__list__item {
  width: calc((100% - 192px) / 5);
  border-radius: 6px;
  position: relative;
}
.services__list__item::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 0;
  height: 130px;
  width: 100%;
  border-radius: 6px;
}
.services__list__item.bg-1::after {
  background: #d185dd;
}
.services__list__item.bg-2::after {
  background: #85ddb3;
}
.services__list__item.bg-3::after {
  background: #d6dd85;
}
.services__list__item.bg-4::after {
  background: #85c3dd;
}
.services__list__item.bg-5::after {
  background: #dcaac5;
}
.services__list__item.bg-6::after {
  background: #aeeadf;
}
.services__list__item.bg-7::after {
  background: #e2acac;
}
.services__list__item.bg-8::after {
  background: #8dd18c;
}
.services__list__item.bg-9::after {
  background: #71c7cc;
}
.services__list__item.bg-10::after {
  background: #d8c8ba;
}
.services__list__item_img {
  height: 161px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 1;
}
.services__list__item__content {
  padding: 18px 24px 18px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #e7e7e7;
}
.services__list__item_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 12px;
}
.services__list__item_subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 15px;
}
.services__list__item_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.services__list__item_btn span {
  margin-right: 13px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}
.services__list__item_btn img {
  width: 26px;
  -o-object-fit: contain;
     object-fit: contain;
}