@charset "UTF-8";
@font-face {
  font-family: "Norms Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/TTNormsPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Norms Pro";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/TTNormsPro-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Norms Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/TTNormsPro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Norms Pro";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/TTNormsPro-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Norms Pro";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/TTNormsPro-Black.ttf") format("truetype");
}
@media screen and (min-width: 320px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px 16px;
  }
  .footer__section {
    width: 100%;
  }
  .footer__logo {
    width: 84px;
    height: 27px;
  }
  .footer__nav {
    margin-top: 24px;
    width: 100%;
    gap: 16px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__nav-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
  }
  .footer__info-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    margin: 40px 0 0 0;
  }
  .footer__info-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    margin-top: 12px;
  }
  .footer__info-address:nth-child(even) {
    margin: 16px 0 18px 0;
  }
  .footer__info-address:nth-child(odd) {
    margin: 24px 0 12px 0;
  }
  .footer__info-email:nth-child(even) {
    margin: 16px 0 20px 0;
  }
  .footer__info-email {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
  }
  .footer__info-address {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
  }
  .footer__info-socials {
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 16px;
  }
  .footer__info-socials-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
  }
  .footer__info-email:nth-child(odd) {
    margin: 12px 0 12px 0;
  }
  .footer__iframe, .footer__map {
    width: 290px;
    height: 290px;
  }
  .footer__map {
    margin-top: 32px;
  }
  .footer__author {
    margin-top: 40px;
  }
}
@media screen and (min-width: 360px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 16px;
  }
  .footer__section {
    width: 100%;
  }
  .footer__logo {
    width: 84px;
    height: 27px;
  }
  .footer__nav {
    margin-top: 24px;
    width: 100%;
  }
  .footer__nav-item {
    font-size: 20px;
    line-height: 120%;
  }
  .footer__info-title {
    font-size: 32px;
    line-height: 120%;
    margin: 36px 0 0 0;
  }
  .footer__info-subtitle {
    font-size: 24px;
    line-height: 120%;
    margin-top: 12px;
  }
  .footer__info-address:nth-child(even) {
    margin: 16px 0 18px 0;
  }
  .footer__info-address:nth-child(odd) {
    margin: 24px 0 12px 0;
  }
  .footer__info-email:nth-child(even) {
    margin: 16px 0 20px 0;
  }
  .footer__info-email:nth-child(odd) {
    margin: 12px 0 12px 0;
  }
  .footer__iframe, .footer__map {
    width: 328px;
    height: 328px;
  }
  .footer__info-socials {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 16px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 80px 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__nav-item {
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
  }
  .footer__nav {
    margin: 44px 0 12px 0;
    width: 300px;
  }
  .footer__info-title {
    margin: 0;
  }
  .footer__iframe {
    width: 660px;
    height: 500px;
  }
  .footer__map {
    width: 660px;
    height: 500px;
    margin: 90px 0 0 0;
  }
  .footer__author {
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  .footer {
    padding: 80px 80px;
  }
  .footer__section {
    width: 60%;
  }
  .footer__nav {
    margin: 45px 0 40px 0;
    width: 100%;
  }
  .footer__logo {
    width: 132px;
    height: 43px;
  }
  .footer__nav-link {
    font-size: 22px;
    line-height: 100%;
  }
  .footer__nav-item {
    margin-bottom: 32px;
  }
  .footer__info-title {
    font-size: 30px;
    line-height: 100%;
  }
  .footer__info-subtitle {
    margin: 12px 0 48px 0;
    font-size: 30px;
    line-height: 100%;
  }
  .footer__info-address {
    font-size: 20px;
    line-height: 100%;
  }
  .footer__info-email {
    font-size: 20px;
    line-height: 100%;
  }
  .footer__info-contacts {
    font-size: 18px;
    line-height: 100%;
  }
  .footer__info-contacts {
    font-size: 20px;
    line-height: 100%;
    margin: 0 0 12px 0;
  }
  .footer__info-address:nth-child(even) {
    margin: 10px 0 28px 0;
  }
  .footer__info-address:nth-child(odd) {
    margin: 10px 0 12px 0;
  }
  .footer__info-email:nth-child(even) {
    margin: 10px 0 28px 0;
  }
  .footer__info-email:nth-child(odd) {
    margin: 10px 0 12px 0;
  }
  .footer__map {
    width: 537px;
    margin: 0;
    padding: 0;
    height: 612px;
  }
  .footer__iframe {
    width: 100%;
    height: 100%;
  }
  .footer__section_div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1366px) {
  .footer {
    padding: 48px 120px;
  }
  .footer__logo {
    width: 112px;
    height: 36px;
  }
  .footer__section {
    width: 49%;
  }
  .footer__nav {
    margin: 22px 0 0 0;
    width: 90%;
    min-height: 123px;
    gap: 27px;
  }
  .footer__nav-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
  }
  .footer__nav-item {
    margin-bottom: 0;
  }
  .footer__info {
    margin-top: 32px;
  }
  .footer__info-title {
    font-size: 40px;
    line-height: 120%;
  }
  .footer__info-subtitle {
    margin: 24px 0 0 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
  }
  .footer__info-address {
    font-size: 20px;
    line-height: 120%;
  }
  .footer__info-email {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }
  .footer__info-contacts {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin: 0 0 12px 0;
  }
  .footer__info-address:nth-child(even) {
    margin: 16px 0 18px 0;
  }
  .footer__info-address:nth-child(odd) {
    margin: 36px 0 12px 0;
  }
  .footer__info-email:nth-child(even) {
    margin: 0 0 32px 0;
  }
  .footer__info-email:nth-child(odd) {
    margin: 12px 0 12px 0;
  }
  .footer__info-socials {
    padding: 0;
    margin-top: 32px;
    gap: 1px;
  }
  .footer__info-socials-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    padding: 0;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1920px) {
  .footer {
    padding: 64px 160px;
  }
  .footer__section {
    width: 60%;
  }
  .footer__nav {
    margin: 51px 0 0 0;
    width: 590px;
    gap: 32px;
  }
  .footer__nav-item {
    margin-right: 28px;
  }
  .footer__logo {
    width: 132px;
    height: 43px;
  }
  .footer__nav-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
  }
  .footer__info {
    margin-top: 48px;
  }
  .footer__info-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 60px 0;
    padding: 0;
  }
  .footer__info-socials-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #F2F2F2;
    margin-right: 32px;
  }
  .footer__info-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
  }
  .footer__info-subtitle {
    margin: 32px 0 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
  }
  .footer__info-address {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }
  .footer__info-email {
    font-size: 24px;
    line-height: 120%;
  }
  .footer__info-contacts {
    font-size: 20px;
    line-height: 120%;
  }
  .footer__info-contacts {
    font-size: 24px;
    line-height: 120%;
  }
  .footer__map {
    width: 1500px !important;
    height: 623px;
    margin-top: 160px;
    padding: 0;
  }
  #map {
    width: 980px;
    height: 623px;
  }
  .footer__iframe {
    width: 100%;
    height: 100%;
  }
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #2B2B2B;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.footer__nav-item {
  list-style: none;
  font-family: "Norms Pro", Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #F2F2F2;
}

.footer__nav-link {
  color: #F2F2F2;
  text-decoration: none;
}

.footer__nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.footer__info-title {
  font-family: "Norms Pro", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #F2F2F2;
}

.footer__info-subtitle {
  font-family: "Norms Pro", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #F2F2F2;
}

.footer__info-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__info-socials-item {
  font-family: "Norms Pro", Arial, Helvetica, sans-serif;
  font-style: normal;
  list-style: none;
  color: #F2F2F2;
}

.footer__info-socials-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer__info-address {
  font-family: "Norms Pro", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #F2F2F2;
}

.footer__info-address:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer__info-email {
  font-family: "Norms Pro", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #F2F2F2;
}

.footer__info-email:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer__info-contacts {
  font-family: "Norms Pro", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #F2F2F2;
  text-decoration: none;
}

.footer__info-contacts:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer__author {
  color: #F2F2F2;
  font-family: "Norms Pro", Arial, Helvetica, sans-serif;
}

.footer__map {
  border-radius: 6px;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
:root {
  --bar-bg: #212529;
}

.header__burger {
  position: relative;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.header__burger .header__burger-cheeckbox {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}

.header__burger div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}

.header__burger span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #F2F2F2;
  border-radius: 1px;
  -webkit-transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.header__burger span:first-of-type {
  top: 0;
}

.header__burger span:last-of-type {
  bottom: 0;
}

.header__burger.active span:first-of-type,
.header__burger .header__burger-cheeckbox:checked + div span:first-of-type {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px;
}

.header__burger.active span:last-of-type,
.header__burger .header__burger-cheeckbox:checked + div span:last-of-type {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 5px;
}

.header__burger.active:hover span:first-of-type,
.header__burger.active:hover span:last-of-type,
.header__burger:hover .header__burger-cheeckbox:checked + div span:first-of-type,
.header__burger:hover .header__burger-cheeckbox:checked + div span:last-of-type {
  width: 22px;
}

.dropdown {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  position: relative;
}

.dropdown__selected-item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  margin-left: 15px;
  cursor: pointer;
  color: #f2f2f2;
}

.dropdown__selected-item::after {
  content: "›";
  margin-left: 15px;
  font-size: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.dropdown__selected-item.active::after {
  margin-left: 5px;
  margin-right: 10px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.dropdown__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  z-index: 3;
  background: #2b2b2b;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 20px rgba(109, 109, 109, 0.2196078431);
          box-shadow: 0 0 20px rgba(109, 109, 109, 0.2196078431);
}

.dropdown__list.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown__list-item > * {
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #f2f2f2;
}

.dropdown__list .dropdown__list-item:first-child {
  border-radius: 8px 8px 0 0;
}

.dropdown__list .dropdown__list-item:last-child {
  border-radius: 0 0 8px 8px;
}

.dropdown__list-item.active {
  background: #f2f2f2;
  color: #2b2b2b;
}

.dropdown__list-item.active a {
  color: #2b2b2b;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Norms Pro";
  font-weight: 400;
  color: #2b2b2b;
}

a {
  text-decoration: none;
  color: #2b2b2b;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}