.news {
  background: #f2f2f2;
  padding: 64px;
  padding-top: 56px;
  margin-bottom: 64px;
  border-radius: 6px;
  text-align: center;
}
.news .line-animate-btn::after {
  height: 1px;
}
.news .line-animate-btn:hover::after {
  width: 75%;
}
.news__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 32px;
  text-align: left;
}
.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}
.news__list__item {
  width: calc((100% - 96px) / 4);
  min-width: 280px;
  background: #fff;
  border-radius: 6px;
  position: relative;
  margin-bottom: 64px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.news__list__item_img {
  height: 240px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.news__list__item_content {
  padding: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}
.news__list__item_content_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 8px;
}
.news__list__item_content_subtitle {
  margin-bottom: 85px;
}
.news__list__item_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
  padding: 16px;
  padding-top: 0;
}
.news__list__item_info_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news__list__item_info_btn img {
  width: 18px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 9px;
}
.news__list__item::before {
  content: "";
  position: absolute;
  height: 250px;
  width: 100%;
  border-radius: 6px;
  top: 0;
}
.news__list__item.bg-3 .news__list__item_content {
  padding-top: 36px;
}
.news__list__item.bg-1::before {
  background: #d2d2d2;
}
.news__list__item.bg-2::before {
  background: #d2d2d2;
}
.news__list__item.bg-3::before {
  background: #d2d2d2;
}
.news__list__item.bg-4::before {
  background: #d2d2d2;
}

@media screen and (max-width: 1500px) {
  .news__list__item {
    width: calc((100% - 64px) / 3);
  }
}
@media screen and (max-width: 1366px) {
  .news {
    padding: 48px;
    padding-top: 40px;
  }
  .news_title {
    font-size: 32px;
  }
  .news__list__item {
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 1100px) {
  .news__list__item {
    width: calc((100% - 32px) / 2);
  }
}
@media screen and (max-width: 765px) {
  .news__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news__list__item {
    width: 70%;
    min-width: 280px;
  }
}
@media screen and (max-width: 650px) {
  .news {
    padding: 16px;
    margin-bottom: 32px;
  }
  .news__title {
    text-align: center;
    font-size: 32px;
  }
  .news__list__item_img {
    width: 100%;
  }
  .news__list__item {
    margin-bottom: 16px;
  }
  .news__list__item_content_subtitle {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 425px) {
  .news__list__item {
    width: 100%;
    min-width: 0;
  }
  .news__title {
    font-size: 24px;
  }
}
.news-page {
  padding: 64px;
  padding-top: 60px;
  margin-top: 60px;
  background: #f2f2f2;
  border-radius: 6px;
}
.news-page__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 32px;
}
.news-page__subtitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 16px;
}
.news-page__paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}
.news-page__paragraph:last-child {
  margin-bottom: 32px;
}

@media screen and (max-width: 1366px) {
  .news-page {
    padding: 48px;
    padding-top: 40px;
    margin-top: 48px;
  }
  .news-page__title {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .news-page__subtitle {
    font-size: 24px;
  }
  .news-page__paragraph {
    font-size: 16px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 650px) {
  .news-page {
    padding: 16px;
    margin-top: 32px;
  }
  .news-page__title {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .news-page__subtitle {
    font-size: 20px;
  }
}