@media screen and (min-width: 320px) {
    .contact-us {
        margin: 80px 20px;
    }

    .contact-us__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 100%;
        width: 260px;
    }

    .contact-us__subtitle {
        font-size: 20px;
        line-height: 100%;
        width: 260px;
    }

    .contact-us__button-section {
        flex-direction: column;
        width: 280px;
    }

    .contact-us__button {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .contact-us {
        margin: 80px 20px;
    }

    .contact-us__title {
        font-weight: 500;
        font-size: 60px;
        line-height: 120%;
        width: 624px;
    }

    .contact-us__subtitle {
        font-size: 24px;
        line-height: 140%;
        width: 550px;
    }

    .contact-us__button-section {
        flex-direction: row;
        width: calc(194px*2 + 48px);
    }

    .contact-us__button {
        margin: 0;
    }
}

@media screen and (min-width: 1080px){
    .contact-us {
        margin: 80px 160px 80px 160px;
    }
}
.contact-us {
    display: flex;
    flex-direction: column;
}

.contact-us__title {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #2B2B2B;
    margin: 0;
    padding: 0;
}

.contact-us__subtitle {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #2B2B2B;
    margin: 50px 0 0 0;
}

.contact-us__button-section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contact-us__button {
    width: 194px;
    height: 52px;
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    outline: none;
    box-shadow: none;
    background-color: #E5E5E5;
    border: 1px solid #2B2B2B;
}

.contact-us__button_yellow {
    background: #FDB914;
    border: none;
}