@media screen and (min-width: 360px) {
    .contact-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 16px 14px 16px;
    }

    .contact-us__title {
        font-size: 32px;
        line-height: 120%;
        width: 261px;
        margin: 0;
    }

    .contact-us__subtitle {
        font-size: 16px;
        line-height: 120%;
        width: 260px;
        margin: 12px 0 0 0;
    }

    .contact-us__button-section {
        width: 328px;
        margin-top: 44px;
    }

    .contact-us__button {
        margin-bottom: 20px;
        width: 146px;
        height: 38px;
    }

    .contact-us__button_light {
        margin-left: 36px;
    }

    .contact-us__img-section {
        overflow: hidden;
        width: 328px;
    }

    .contact-us__img {
        background-position: center;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 768px) {
    .contact-us {
        display: grid;
        grid-template-areas: "title img"
        "subtitle img"
        "buttons img";
        grid-template-rows: 30% 40% 30%;
        grid-template-columns: 50% 50%;
        margin: 80px 20px;
    }

    .contact-us__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 120%;
        width: 100%;
        grid-area: title;
    }

    .contact-us__subtitle {
        font-size: 22px;
        line-height: 90%;
        width: 100%;
        grid-area: subtitle;
    }

    .contact-us__button-section {
        flex-direction: row;
        justify-content: space-between;
        width: calc(194px*2 + 48px);
        grid-area: buttons;
    }

    .contact-us__button {
        margin: 0;
    }

    .contact-us__img-section {
        grid-area: img;
        overflow: hidden;
    }

    .contact-us__img {
        background-position: center;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 1080px){
    .contact-us {
        margin: 80px 160px 80px 160px;
    }
}

@media screen and (min-width: 1336px){
    .contact-us {
        margin: 60px 120px;
    }

    .contact-us__title {
        font-size: 40px;
        line-height: 120%;
        width: 416px;
        margin: 0 0 60px 0;
    }

    .contact-us__subtitle {
        margin: 0;
        font-size: 20px;
        line-height: 140%;
    }

    .contact-us__button-section {
        margin-top: 36px;
    }

    .contact-us__button {
        width: 170px;
        height: 44px;
    }

    .contact-us__button_light {
        margin-left: 48px;
    }
}

@media screen and (min-width: 1920px){
    .contact-us {
        margin: 80px 160px 40px 160px;
        grid-template-rows: 208px 114px 181px;;
        grid-template-columns: 701px 911px;
    }

    .contact-us__title {
        margin: 0;
        padding: 0;
        font-size: 60px;
        line-height: 120%;
        grid-area: title;
    }

    .contact-us__subtitle {
        margin-top: 48px;
        font-size: 24px;
        line-height: 140%;
        grid-area: subtitle;
    }

    .contact-us__button-section {
        margin-top: 50px;
        justify-content: space-between;
        grid-area: buttons;
    }

    .contact-us__button {
        width: 194px;
        height: 52px;
    }

    .contact-us__button_light {
        margin: 0;
    }

    .contact-us__img-section {
        width: 100%;
    
    }
}

.contact-us__title {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #2B2B2B;
}

.contact-us__subtitle {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #2B2B2B;
}

.contact-us__button-section {
    display: flex;
}

.contact-us__button {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    outline: none;
    box-shadow: none;
    background-color: #E5E5E5;
    border: 1px solid #2B2B2B;
}

.contact-us__button_yellow {
    background: #FDB914;
    border: none;
}