@media screen and (min-width: 360px){
    .info {
        display: flex;
        flex-direction: column;
        margin: 38px 16px 14px 16px;
    }

    .info__title {
        font-size: 32px;
        line-height: 38px;
        margin: 0;
    }

    .info__text {
        font-size: 16px;
        line-height: 19px;
        margin-top: 12px;        
    }

    .info__badge {
        margin-top: 12px;
        padding: 0;
    }

    .info__badge-item-img {
        width: 36px;
        height: 36px;
        background-position: center;
        border-radius: 50%;
    }

    .info__badge-span-text {
        font-size: 20px;
        line-height: 140%;
    }

    .info__badge-span {
        margin: 0 0 12px 0;
    }
}

@media screen and (min-width: 768px) {
    .info {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "title badge"
                             "title badge";
        grid-template-columns: 424px 284px;
        column-gap: 26px;
        row-gap: 48px;
        margin: 100px 20px;
    }

    .info__title {
        font-weight: 500;
        font-size: 60px;
        line-height: 72px;
    }

    .info__text {
        font-size: 24px;
        line-height: 29px;
        margin: 0;
    }

    .info__badge {
        padding: 0;
        margin: 0;
    }

    .info__badge-item-img {
        width: 64px;
        height: 64px;
    }

    .info__badge-span-text {
        font-weight: 500;
        font-size: 32px;
        line-height: 140%;
    }
}

@media screen and (min-width: 1080px) {
    .info {
        grid-template-columns: 424px 284px;
        column-gap: 76px;
        row-gap: 48px;
        margin: 100px 80px 80px 80px;
    }

    .info__badge-span_expanded {
        margin: 15px 0 0 35px;
    }

    .info__title {
        font-weight: 500;
        font-size: 60px;
        line-height: 72px;
    }
}

@media screen and (min-width: 1366px) {
    .info {
        grid-template-columns: 454px 484px;
        column-gap: 117px;
        row-gap: 48px;
        margin: 75px 120px 60px 120px;
    }

    .info__title {
        font-size: 40px;
        line-height: 48px;
        margin: 0 0 30px 0;
    }

    .info__text {
        font-size: 24px;
        line-height: 29px;
    }

    .info__badge-span_expanded {
        margin: 15px 0 0 135px;
    }

    .info__badge-item {
        margin: 0;
    }

    .info__badge-item-img {
        width: 48px;
        height: 48px;
    }

    .info__badge-span {
        margin: 0 0 24px 0;
    }

    .info__badge-span-text {
        font-size: 24px;
        line-height: 140%;
    }
}

@media screen and (min-width: 1920px) {
    .info {
        grid-template-columns: 624px 684px;
        row-gap: 48px;
        column-gap: 185px;
        margin: 95px 160px 50px 160px;
    }

    .info__badge-span {
        margin: 0 0 40px 0;
    }

    .info__badge-span_expanded {
        margin: 15px 0 0 135px;
    }

    .info__title {
        margin: 0 0 48px 0;
        font-size: 60px;
        line-height: 72px;
    }

    .info__text {
        font-size: 24px;
        line-height: 29px;
    }

    .info__badge-item-img {
        width: 64px;
        height: 64px;
    }

    .info__badge-item {
        margin: 0 0 0 0;
    }
}

@keyframes bgColor {
    from {
        background-color: transparent;
    }
    to {
        background: linear-gradient(0deg, rgba(253,185,20,0) 0%, rgba(253,185,20,0) 28%, rgba(253,185,20,1) 28%, rgba(253,185,20,1) 49%, rgba(253,185,20,0.011642156862745057) 50%, rgba(253,185,20,0.011642156862745057) 100%);
        background-position: bottom;
    }
}

.info__section {
    grid-area: title;
}

.info__title {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #2B2B2B;
    white-space: pre-line;
}

.info__text {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #2B2B2B;
    width: 100%;
}

.info__badge {
    grid-area: badge;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__badge-item {
    list-style: none;
}

.info__badge-item:hover {
    cursor: pointer;
}

.info__badge-span-text:hover {
    animation: bgColor 5s alternate-reverse 0.2s;
    transition: bgColor 0.3s ease-in-out;
}

.info__badge-span_hidden {
    display: none;
}

.info__badge-span_expanded {
    display: flex;
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #2B2B2B;
}

.info__badge-span {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #2B2B2B;
    display: flex;
    align-content: center;
    align-items: center;
}

.info__badge-item-img {
    margin: 0 48px 0 0;
    background-image: url("../../images/plus.svg");
}

.info__badge-item-img_expanded {
    background-image: url("../../images/minus.svg");
}

.info__badge-text {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #2B2B2B;
    margin-left: 70px;
}