@import "../variables";
@import "../components/index-page/send-request";

.about-us {
  &__title {
    display: block;
    margin-bottom: 80px;
  }
  &__wrapper {
    border-radius: 6px;
    background: $secondary;
    padding: 90px 60px;
    display: flex;
  }
  &__text {
    width: 60%;
    padding-right: 90px;
    flex-shrink: 0;
    p {
      margin-bottom: 32px;
    }
  }
  &__image {
    margin-left: auto;
    height: 100%;
    width: 40%;
    object-fit: contain;
  }
}

@media screen and (max-width: 1000px) {
  .about-us__wrapper {
    flex-direction: column-reverse;
    padding-bottom: 58px;
  }
  .about-us__image {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 32px;
  }
  .about-us__text {
    width: 100%;
    padding-right: 0;
  }
}

@media screen and (max-width: 950px) {
  .about-us__title {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 750px) {
  .about-us__title {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 650px) {
  .about-us__wrapper {
    padding: 24px 16px 0;
  }
  .about-us__title {
    margin-bottom: 48px;
  }
}
