@import "../variables";
@import "../components/news";

.news-page {
  padding: 64px;
  padding-top: 60px;
  margin-top: 60px;
  background: $light-grey;
  border-radius: 6px;
  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 32px;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 16px;
  }
  &__paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 32px;
    }
  }
}

@media screen and (max-width: 1366px) {
  .news-page {
    padding: 48px;
    padding-top: 40px;
    margin-top: 48px;
    &__title {
      font-size: 32px;
      margin-bottom: 24px;
    }
    &__subtitle {
      font-size: 24px;
    }
    &__paragraph {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: 650px) {
  .news-page {
    padding: 16px;
    margin-top: 32px;
    &__title {
      font-size: 24px;
      margin-bottom: 32px;
    }
    &__subtitle {
      font-size: 20px;
    }
  }
}
