@import "../variables";

.services {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 60px;
  }
  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    margin: 60px 64px;
  }
  &__item {
    scroll-margin-top: 110px;
    border-radius: 6px;
    background: $light-grey;
    width: calc((100% - 60px) / 2);
    display: flex;
    flex-direction: column;
    &__content {
      padding: 60px 64px 90px;
      &_title {
        font-weight: 500;
        font-size: 32px;
        line-height: 140%;
        margin-bottom: 16px;
      }
      &-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
      }
    }
    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: auto;
      padding: 24px 24px 0;
      border-radius: 6px;
      background: $dark-grey;
      img {
        object-fit: contain;
        object-position: bottom;
        height: 100%;
        width: 100%;
        max-height: 350px;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .services {
    &__wrapper {
      gap: 48px;
      margin-bottom: 48px;
    }
    &__title {
      font-size: 32px;
      margin-left: 0;
    }
    &__item {
      width: calc((100% - 48px) / 2);
      &__content {
        padding: 48px;
        padding-top: 40px;
        &_title {
          font-size: 24px;
        }
        &-text {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .services {
    &__wrapper {
      gap: 0;
      row-gap: 48px;
    }
    &__item {
      width: 100%;
    }
  }
}
@media screen and (max-width: 650px) {
  .services {
    margin-bottom: 32px;
    &__wrapper {
      row-gap: 16px;
      margin-top: 40px;
    }
    &__title {
      margin: 32px 0;
      font-size: 24px;
    }
    &__item {
      &__content {
        padding: 16px;
        &_title {
          font-size: 16px;
        }
        &-text {
          font-size: 12px;
        }
      }
      &__img img {
        max-height: 200px;
      }
    }
  }
}
