@import "../variables";

.subservices {
  margin-top: 60px;
  &__item {
    display: flex;
    background: $light-grey;
    border-radius: 6px;
    margin-bottom: 60px;
    &-content {
      padding: 60px 64px 4px 64px;
      width: 50%;
    }
    &-img {
      padding: 30px;
      border-radius: 6px;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        object-fit: contain;
      }
      &.bg-1 {
        background: #aeeadf;
      }
      &.bg-2 {
        background: #d185dd;
      }
      &.bg-3 {
        background: #85c3dd;
      }
      &.bg-4 {
        background: #e2acac;
      }
    }
    .item {
      &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 120%;
        margin-bottom: 16px;
      }
      &__subtitle {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        margin-bottom: 60px;
      }
      &__paragraph-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 140%;
        margin-bottom: 16px;
      }
      &__paragraph {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        margin-bottom: 60px;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .subservices__item-content {
    padding: 40px 48px 16px 48px;
  }
  .subservices__item {
    .item__title {
      font-size: 32px;
    }
    .item__subtitle {
      font-size: 16px;
      margin-bottom: 32px;
    }
    .item__paragraph-title {
      font-size: 20px;
    }
    .item__paragraph {
      font-size: 16px;
      margin-bottom: 32px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .subservices__item {
    flex-direction: column-reverse;
  }
  .subservices__item-content,
  .subservices__item-img {
    width: 100%;
  }
  .subservices__item-img img {
    max-height: 400px;
  }
}

@media screen and (max-width: 650px) {
  .subservices {
    margin-top: 40px;
  }
  .subservices__item-content {
    padding: 16px;
    padding-bottom: 0;
  }
  .subservices__item {
    margin-bottom: 32px;
    .item__title {
      font-size: 24px;
    }
    .item__subtitle {
      font-size: 14px;
    }
    .item__paragraph-title {
      font-size: 16px;
      margin-bottom: 12px;
    }
    .item__paragraph {
      font-size: 14px;
      margin-bottom: 32px;
      &:last-child {
        margin-bottom: 16px;
      }
    }
  }
  .subservices__item-img {
    padding: 12px 24px;
    img {
      min-height: 266px;
    }
  }
}
