@import "../variables";

.vacancies {
  padding: 64px;
  padding-top: 60px;
  margin: 60px 0;
  background: $light-grey;
  border-radius: 6px;
  text-align: center;
  &__slice {
    text-align: left;
    &-title {
      font-weight: 500;
      font-size: 40px;
      line-height: 120%;
      margin-bottom: 32px;
    }
    &__items-wrapper {
      display: flex;
    }
    &__item {
      margin-right: 60px;
      margin-bottom: 60px;
      &-title {
        font-weight: 500;
        font-size: 32px;
        line-height: 120%;
        margin-bottom: 16px;
      }
      &-link {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        text-decoration: underline;
        margin-right: 32px;
        transition: color 0.3s ease-in-out;
        &:hover {
          color: rgba($black, 0.7);
        }
      }
    }
  }
  &__show-all-btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
  }
}

@media screen and (max-width: 1366px) {
  .vacancies {
    padding: 48px;
    padding-top: 40px;
    margin: 48px 0;
    &__slice {
      &-title {
        font-size: 32px;
        margin-bottom: 24px;
      }
      &__item {
        margin-right: 48px;
        margin-bottom: 48px;
        &-title {
          font-size: 24px;
        }
        &-link {
          font-size: 18px;
        }
      }
    }
    &__show-all-btn {
      display: none;
    }
  }
}

@media screen and (max-width: 1200px) {
  .vacancies__slice__items-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .vacancies {
    padding: 16px;
    margin: 32px 0;
    &__slice {
      &-title {
        font-size: 24px;
        margin-bottom: 16px;
        text-align: left;
      }
      &__item {
        margin: 0;
        margin-bottom: 16px;
        &-title {
          font-size: 20px;
        }
        &-link {
          font-size: 12px;
        }
      }
    }
  }
}
