@media screen and (min-width: 1920px) {
    .customization {
        margin: 80px 160px;
        grid-template-columns: 650px 800px;
        grid-template-rows: 118px 149px 285px 173px;
        column-gap: 160px;
    }

    .customization__title {
        font-size: 60px;
        line-height: 120%;
        grid-area: title;
        margin: 0;
        width: 650px;
    }

    .customization__subtitle {
        font-size: 24px;
        line-height: 140%;
        grid-area: subtitle;
        margin: 0;
    }

    .customization__text {
        font-size: 24px;
        line-height: 140%;
        margin: 0;
        grid-area: text-area;
    }

    .customization__text_bold {
        font-size: 32px;
        line-height: 140%;
    }

    .customization__list-item {
        font-size: 24px;
        line-height: 140%;
    }

    .customization__img-section {
        width: 100%;
        grid-area: img;
    }

    .customization__text-area-1 {
        grid-area: bold1;
    }

    .customization__text-area-2 {
        grid-area: bold2;
    }

    .customization__text_bold {
        margin: 0;
    }
}

.customization {
    display: grid;
    grid-template-areas: "title title"
    "subtitle text-area"
    "img bold1"
    "img bold2";
}

.customization__title {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #2B2B2B;
}

.customization__subtitle {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #2B2B2B;
}

.customization__text {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #2B2B2B;
}

.customization__list-item {
    font-style: normal;
    font-weight: normal;
    color: #2B2B2B;
}

.customization__text_bold {
    font-style: normal;
    font-weight: 500;
    color: #2B2B2B;
}

.customization__img-section {
    overflow: hidden;
}

.customization__img {
    object-position: top;
    object-fit: contain;
    width: 100%;
    height: 100%;
}