@media screen and (min-width: 320px) {
    .footer {
        margin: 20px;
    }

    .footer__nav {
        margin-top: 40px;
    }

    .footer__nav-item {
        font-weight: 500;
        font-size: 22px;
        line-height: 100%;
    }
}
@media screen and (min-width: 768px) {
    .footer {
        margin: 80px 20px;
    }

    .footer__nav {
        align-self: center;
        grid-template-columns: repeat(3, 210px);
        grid-template-rows: repeat(3, 40px);
        column-gap: 25px;
        row-gap: 32px;
    }

    .footer__nav-item {
        font-weight: 500;
        font-size: 32px;
        line-height: 120%;
    }

    .footer__nav {
        margin-top: 80px;
    }
}
@media screen and (min-width: 1080px) {
    .footer {
        margin: 27px 30px;
    }

    .footer__nav {
        align-self: center;
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: repeat(3, 40px);
        column-gap: 80px;
        row-gap: 32px;
    }
}

@media screen and (min-width: 1920px){
    .footer {
        margin: 80px 160px;
    }

    .footer__nav {
        grid-template-columns: repeat(3, 190px);
        grid-template-rows: repeat(3, 40px);
        column-gap: 475px;
        row-gap: 32px;
    }
}

@keyframes bgColor {
    from {
        background-color: transparent;
    }
    to {
        background: linear-gradient(0deg, rgba(253,185,20,0) 0%, rgba(253,185,20,0) 28%, rgba(253,185,20,1) 28%, rgba(253,185,20,1) 49%, rgba(253,185,20,0.011642156862745057) 50%, rgba(253,185,20,0.011642156862745057) 100%);
        background-position: bottom;
    }
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer__logo {
    width: 132px;
    height: 43px;
}

.footer__nav {
    display: grid;
    padding: 0;
}

.footer__nav-item {
    list-style: none;
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #2B2B2B;
}

.footer__nav-link {
    color: #2B2B2B;   
    text-decoration: none;
}

.footer__author {
    width: 295px;
    align-self: flex-end;
    margin-top: 80px;
}

.footer__nav-item:hover {
    animation: bgColor 5s alternate-reverse 0.2s ;
}