@keyframes bgColor {
    from {
        background-color: transparent;
    }
    to {
        background: linear-gradient(0deg, rgba(253,185,20,1) 0%, rgba(253,185,20,1) 49%, rgba(253,185,20,0.011642156862745057) 50%, rgba(253,185,20,0.011642156862745057) 100%);
        background-position: bottom;
    }
}

.footer {
    margin: 80px 160px;
    display: flex;
    flex-direction: column;
}

.footer__logo {
    width: 132px;
    height: 43px;
}

.footer__nav {
    display: grid;
    grid-template-columns: repeat(3, 190px);
    grid-template-rows: repeat(3, 40px);
    column-gap: 515px;
    row-gap: 32px;
    margin-top: 80px;
    padding: 0;
}

.footer__nav-item {
    list-style: none;
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    color: #2B2B2B;
}

.footer__nav-link {
    color: #2B2B2B;   
    text-decoration: none;
}

.footer__author {
    width: 295px;
    align-self: flex-end;
    margin-top: 80px;
}

.footer__nav-item:hover {
    animation: bgColor 5s alternate-reverse 0.2s ;
}