@media screen and (min-width: 320px) {
    .start-working {
        margin: 80px 20px;
    }

    .start-working__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 42px;
    }

    .start-working__text {
        font-size: 18px;
        line-height: 20px;
        width: 250px;
    }
}
@media screen and (min-width: 768px) {
    .start-working {
        margin: 20px;
        justify-content: center;
        align-items: center;
    }

    .start-working__title {
        font-weight: 500;
        font-size: 60px;
        line-height: 72px;
    }

    .start-working__text {
        font-size: 24px;
        line-height: 29px;
        width: 550px;
    }

    .start-working__button {
        margin: 35px 0 0 375px;
    }
}

@media screen and (min-width: 1080px) {
    .start-working {
        margin: 0 80px;
        justify-content: center;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1440px){
    .start-working {
        margin: 50px 150px 180px 150px;
    }
}

.start-working {
    display: flex;
    flex-direction: column;
    position: relative;
}

.start-working__title {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #2B2B2B;
}

.start-working__text {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #2B2B2B;
}

.start-working__button {
    width: 194px;
    height: 52px;
    background: #FDB914;
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    border: none;
    outline: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    overflow: hidden;
}


.start-working__button::before {
    z-index: 0;
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(0%, 0%);
    width: 0;
    height: 0;
    border-radius: 8px;
    background: #2B2B2B;
    transition: width 0.5s, height 0.5s;
}


.start-working__button:hover {
    transition: 0.5s;
    color: #F2F2F2;

}

.start-working__button:hover::before {
    z-index: -1;
    width: 300px;
    height: 200px;
}

.start-working__button_position {
    position: relative;
    z-index: 1;
}