@media screen and (min-width: 360px) {
    .start-working {
        margin: 40px 16px;
        grid-template-columns: 330px;
        grid-template-rows: 56px 220px 100px 45px;
        grid-template-areas: "title"
                            "img"
                            "subtitle"
                            "button";
    }

    .start-working__title {
        font-size: 32px;
        line-height: 38px;
        width: 330px;
        margin: 0;
    }

    .start-working__text {
        font-size: 16px;
        line-height: 19px;
        width: 328px;
        margin: 15px 0 24px 0;
    }

    .start-working__img {
        width: 100%;
        height: 100%;
    }

    .start-working__button {
        width: 146px;
        height: 38px;
        font-size: 16px;
        line-height: 140%;
    }
}
@media screen and (min-width: 768px) {
    .start-working {
        margin: 20px;
        justify-content: center;
        align-items: center;
        grid-template-areas: "title img"
        "subtitle img"
        "button img"
        "_ img";
    }

    .start-working__title {
        font-weight: 500;
        font-size: 60px;
        line-height: 72px;
    }

    .start-working__text {
        font-size: 24px;
        line-height: 29px;
        width: 550px;
    }

    .start-working__button {
        margin: 0;
    }
}

@media screen and (min-width: 1080px) {
    .start-working {
        margin: 0 80px;
        justify-content: center;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1366px){
    .start-working {
        margin: 60px 120px 80px 120px;
        grid-template-columns: 416px 573px;
        column-gap: 123px;
        grid-template-rows: 75px 80px 100px;
    }

    .start-working__title {
        font-size: 40px;
        line-height: 48px;
    }

    .start-working__text {
        margin: 0;
        width: 430px;
        font-size: 20px;
        line-height: 24px;
    }

    .start-working__button {
        width: 170px;
        height: 44px;
    }

    .start-working__img {
        width: 90%;
        height: 90%;
    }
}

@media screen and (min-width: 1920px){
    .start-working {
        grid-template-columns: 598px 2fr;
        column-gap: 220px;
        grid-template-rows: 75px 150px 100px;
        margin: 80px 160px;
    }

    .start-working__button {
        width: 194px;
        height: 52px;
        font-size: 20px;
        line-height: 140%;
    }

    .start-working__title {
        margin: 0;
        font-size: 60px;
        line-height: 72px;
    }
}



.start-working {
    display: grid;
    flex-direction: column;
    position: relative;
}

.start-working__title {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #2B2B2B;
    grid-area: title;
    width: 100%;
}

.start-working__text {
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #2B2B2B;
    grid-area: subtitle;
}

.start-working__button {
    background: #FDB914;
    font-family: "Norms Pro", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    border: none;
    outline: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    overflow: hidden;
    grid-area: button;
}


.start-working__button::before {
    z-index: 0;
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(0%, 0%);
    width: 0;
    height: 0;
    border-radius: 8px;
    background: #2B2B2B;
    transition: width 0.5s, height 0.5s;
}


.start-working__button:hover {
    transition: 0.5s;
    color: #F2F2F2;

}

.start-working__button:hover::before {
    z-index: -1;
    width: 300px;
    height: 200px;
}

.start-working__button_position {
    position: relative;
    z-index: 1;
}

.start-working__img {
    grid-area: img;
}