:root {
    --primary-color: #FDB914;
    --black-color: black;
    --white-color: white;
    --lighter-gray-color: #F2F2F2;
    --light-gray-color: #949494;
    --dark-gray-color: #2B2B2B;
    --global-background-color: #E5E5E5;
}